<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>photo compare application</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    
    <style>
        .images{
                width:475px;
                height:auto;
                border: 1px solid black;
                }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Photo compare application</h1>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img src="/image/2fd3e7bafdce58c0dd80c33463aa6ae9.JPG" class="images"  alt="guvi image">
                <div>
                    <button class="btn btn-primary" onclick='clickprint("image1")'>
                        👍Upvote
                    </button>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="/image/b0e2e36bbbf9ec085ca4de3703ff6f49.JPG" class="images"  alt="guvi image">
                <div>
                    <button class="btn btn-primary" onclick='clickprint("image2")'>
                        👍Upvote
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
    <script>
        function clickprint(str){
            console.log(str)
        }
        const socket = io()

        socket.on('message',text=>{
            console.log(text)
        })
    </script>
    
</body>
</html>